
@font-face {
  font-family: odys;
  src: url(font/opendyslexic/OpenDyslexic-Regular.otf);
}
@font-face {
  font-family: odys;
  src: url(font/opendyslexic/OpenDyslexic-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: odys;
  src: url(font/opendyslexic/OpenDyslexic-Italic.otf);
  font-style: italic;
}

body {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  padding: 0 0;
  margin: 0 0;
  background: linear-gradient(325deg, #000, #c48ad9, #8098c0, #d9b88a, #c48ad9);
  background-size: 300% 300%;

  -webkit-animation: jank 6s ease infinite;
  -moz-animation: jank 6s ease infinite;
  animation: jank 6s ease infinite;
  
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


main {
	background-image: url('back.png');
	
}

button {
  cursor: wait;
}

a:hover {
	/* via https://css-tricks.com/having-fun-with-link-hover-effects/ */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 15%;
  border-bottom: 0;
  text-decoration: none;
  color: #994465;
  text-shadow: 15px 15px 5px #e0f0a0;
  -webkit-transition: 2s; /* Safari prior 6.1 */
  transition: 2s;
}

img.itch:hover {
	transform: scale(3);
  -webkit-transition: 4s; /* Safari prior 6.1 */
  transition: 4s;
  box-shadow: 35px 35px 30px #66ff95;
}

img.itch {
	border-radius: 8%;
	box-shadow: 15px 15px 5px #415146;
	-webkit-transition: 1s; /* Safari prior 6.1 */
  transition: 1s;
}


h1, h2, h3
{
	font-family: odys;
 font-style: italic;
	color: #66ff95;
	text-shadow: 5px 5px 5px #e0f0a0;
	background-position: bottom;

}

ul {
  list-style-image: url(list.gif);
  list-style-position: inside;
}

li {
  	padding-bottom: 1em;	
}

/* Buzz https://github.com/IanLunn/Hover/blob/master/css/hover.css */
/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

img {
  max-width:108%;
}